/recursive_data
/generated_data
/QA
/LR
/logs
/downloads
/.venv
corpus.mm
corpus.mm.index
midict.dict
mycorpusGensim.txt
similmatrix.index
similmatrix.index.index.npy
.env
*.csv
osi.csv
*.txt
*.pdf
*.pkl
/results
/results
/SEC_data
/recursive
